table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    background-color: #252f2f;
    background-color: #1d2626;

    thead {
        background-color: #252f2f;
        color: #fff;
        font-size: 1.2rem;
    }

    th, td {
        padding: 0.5rem;
        border-bottom: 1px solid #fff;
        text-align: left;
    }

}