h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 2rem;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100dvh;
    width: 100%;
    mat-tab-group {
      overflow: auto;
    }
}
