<lib-apps-button/>

<div class="container">
  <h2>Bienvenue Admin</h2>

  <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="left">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">groups</mat-icon>
          <p class="label">Users</p>
        </ng-template>

        <app-tableau/>

      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">analytics</mat-icon>
          <p class="label">données</p>
        </ng-template>

        <p>données sur le % des disques utilisé</p>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">verified</mat-icon>
          <p class="label">whitelist</p>
        </ng-template>

        <app-whitelist/>

      </mat-tab>
  </mat-tab-group>
</div>
