<button mat-raised-button (click)="logout()" class="logout">
    <mat-icon>logout</mat-icon>
    Logout
</button>

<h1>Bonjour {{authService.user()?.first_name ?? ''}}</h1>

<div id="container">
    <div class="content">

        <h2>Omniplex</h2>
        <ul>
            @for (app of authService.user()?.allowedApps; track $index) {
                <li>
                    <button mat-fab
                        (click)="navigateTo(app ?? '')"
                        [matTooltip]="app">
                        <mat-icon>{{getIcon(app ?? '')}}</mat-icon>
                    </button>
                </li>
            }
            <li>
                <button mat-icon-button
                    (click)="addLink()"
                    matTooltip="Ajouter un lien">
                    <mat-icon>add</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</div>