<button mat-raised-button (click)="logout()" class="logout">
    <mat-icon>logout</mat-icon>
    Logout
</button>

<!-- TODO: ajout de la photo de profil -->
<h1>⚪ Bonjour {{authService.user()?.first_name ?? ''}}</h1>

<div id="container">

  <mat-card appearance="outlined">
        <h2 mat-card-title>Omniplex</h2>
        <ul>
            @for (app of Apps; track $index) {
                <li>
                    <a mat-fab
                        [href]="app.url"
                        [matTooltip]="app.name">
                        <mat-icon>{{app.icon}}</mat-icon>
                    </a>
                </li>
            }
            <li>
                <button mat-icon-button
                    (click)="addLink()"
                    matTooltip="Ajouter un lien">
                    <mat-icon>add</mat-icon>
                </button>
            </li>
        </ul>
    </mat-card>


  <mat-card appearance="outlined">
    <h3 mat-card-title>Todo List</h3>
    <p mat-card-subtitle>refaire la maquette pour bien refaire le back</p>
    <p mat-card-subtitle>faire une application de todo list</p>
    <p mat-card-subtitle>ajout des demandes dans whiteliste</p>
    <p mat-card-subtitle>ajouter les pp par défaut</p>
    <p mat-card-subtitle>ajouter le market</p>
  </mat-card>
</div>

<a mat-button [routerLink]="[ '/params' ]" id="params">
  <mat-icon>settings</mat-icon>
  Paramètres
</a>
